@media only screen and (min-width: 1400px) {
    #intro-row img{
        max-width: 47%;
        height: auto;
        margin-top: -6%;
    }

}
@media only screen and (max-width: 768px) {
    #intro-row{
        padding: 50px 20px;
    }
    .banner-blob{
        left:-80px;
        top: 0px;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
    }
    .vid-wrap, .vid-wrap iframe{
        height: 250px;
    }
    .gallery-row{
        padding: 50px 0 ;
    }
    .carousel-cell{
        height: 350px;
    }
    .spec-wrap{
        padding-top:20px;
    }
    
    #intro-row h1{
        font-size: 48px;
        width: 300px;
        margin-top: 5vh;
    }
    #intro-row img{
        /* margin: 2vh -2% ; */
    }
    
}