*{
    font-family: degular, sans-serif;
    font-weight: 300;
}
a{
    color: #000;
}
a:hover{
    color: #4C8D2B;
}
.row{
    margin:0;
    padding: 100px 10%;
}
button:focus{
    outline: none;
}
.navbar-toggler-icon{
    color: #385542;
    height: auto;

}
#nav-icon{
    width:200px;
}
#nav-icon img{
    width: 100%;
}
header{
    padding: 10px 10%;
    color: #111;
}
header a{
    color : #385542;
    font-size: 18px;
    font-weight: 300;
    font-family: 'degular-display', sans-serif;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left:1rem;
    padding-right:1rem;
}

body, html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #385542;
    position: relative;
    overflow: hidden;
}

#footer-mask{
    position: absolute;
    top: -3px;
    width:108%;
}

.footer-row{
    color:#fff;
    padding-bottom: 0;
    padding-top: 120px
}

a.nav-link{
    text-align: right;
    padding: 2px;
}
.submit-col form{
}
.submit-col p{
    margin-bottom: 0;
    font-size: 18px;
}
.submit-col form input{
    width:65%;
    min-width: 250px;
    margin:10px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ffb700;

}
.submit-col form button{
    width:30%;
    margin-left:5px;
    padding:10px;
    border-radius: 20px;
    background-color: #ffb700cb;
    border: 1px solid #ffb700;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.submit-col form button:hover{

    background-color: #ffb700;

}
.contact-col p{
    font-size: 24px;
    text-align: right;
}
.contact-col p a{
    color: #fff;
    margin: 3px;
}
.contact-col p a:hover{
    color: #ffb700;
}
p.copyright{
    text-align:center;
    width:100%;
    margin-bottom: 5px;
    margin-top: 50px;
    font-size: 12px;
}
